[submodule "WeatherDiffusion"]
	path = WeatherDiffusion
	url = https://github.com/Domattee/WeatherDiffusion
[submodule "MWFormer"]
	path = MWFormer
	url = https://github.com/Domattee/MWFormer.git
[submodule "Two-stage-Knowledge-For-Multiple-Adverse-Weather-Removal"]
	path = Two-stage-Knowledge-For-Multiple-Adverse-Weather-Removal
	url = https://github.com/fingerk28/Two-stage-Knowledge-For-Multiple-Adverse-Weather-Removal
