[submodule "TransWeather"]
	path = TransWeather
	url = https://github.com/jeya-maria-jose/TransWeather
[submodule "MonoWAD"]
	path = MonoWAD
	url = https://github.com/VisualAIKHU/MonoWAD
[submodule "WeatherDiffusion"]
	path = WeatherDiffusion
	url = https://github.com/IGITUGraz/WeatherDiffusion
